@import "../../theme/variables";

.game-page-container {
  min-height: 100%;
  background: $background-blue;

  .container {
    background: $background-grey;
  }

  .board  {
    position: relative;
    margin: 25px;
  }

  .hit {
    position: relative;
    margin: 1.5px;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;

    background: rgb(220,10,10);
    border: 1px solid red;
    border-radius: 100%;
    overflow: hidden;

    display: table;

    animation-name: expand;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: none;

    -webkit-animation-name: expand;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: none;

    -moz-animation-name: expand;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: none;
  }

  .miss {
    position: relative;
    margin: 1.5px;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 5px;

    background: rgb(250,250,250);
    border: 1px solid white;
    border-radius: 100%;
    overflow: hidden;

    display: table;

    animation: expand;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: none;

    -webkit-animation: expand;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: none;

    -moz-animation: expand;
    -moz-animation-duration: 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -moz-animation-fill-mode: none;
  }

  @keyframes expand {
    0% {
      width: 0px;
      height: 0px;
      top: 12.5px;
      left: 12.5px;
    }
    50% {
      width: 25px;
      height: 25px;
      top: 0px;
      left: 0px;
    }
    100% {
      width: 15px;
      height: 15px;
      top: 5px;
      left: 5px;
    }
  }

  @-webkit-keyframes expand {
    0% {
      width: 0px;
      height: 0px;
      top: 12.5px;
      left: 12.5px;
    }
    50% {
      width: 25px;
      height: 25px;
      top: 0px;
      left: 0px;
    }
    100% {
      width: 15px;
      height: 15px;
      top: 5px;
      left: 5px;
    }
  }

  @-moz-keyframes expand {
    0% {
      width: 0px;
      height: 0px;
      top: 12.5px;
      left: 12.5px;
    }
    50% {
      width: 25px;
      height: 25px;
      top: 0px;
      left: 0px;
    }
    100% {
      width: 15px;
      height: 15px;
      top: 5px;
      left: 5px;
    }
  }
}
