<div class="game-page-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="board">
            <app-bot-grid
              [botGrid]="botGrid"
              [titleTopNumbers]="titleTopNumbers"
              [titleLeftAlphabet]="titleLeftAlphabet"
            >
            </app-bot-grid>

            <app-player-grid [(playerGrid)]="playerGrid"
                             [(shipPlacementPhase)]="shipPlacementPhase"
                             [(selectedFleet)]="selectedFleet"
                             [(selectedShip)]="selectedShip"
                             [(displayRotationControl)]="displayRotationControl"
                             [(gamePhase)]="gamePhase"
                             [(consoleText)]="consoleText"
                             [titleTopNumbers]="titleTopNumbers"
                             [titleLeftAlphabet]="titleLeftAlphabet"
                             [orientation]="orientation"
                             [shipOrientation]="shipOrientation"
            >
            </app-player-grid>
          </div>
      </div>

      <div class="col">
        <div class="panel">
          <app-game-information [consoleText]="consoleText"></app-game-information>
          <app-control-panel (onPlaceShips)="onPlaceShips()"
                             (onRotateClick)="onRotateClick()"
                             [displayRotationControl]="displayRotationControl"
                             [gamePhase]="gamePhase"
          >
          </app-control-panel>
        </div>
      </div>
    </div>

  </div>
</div>
