@import "../../theme/variables";

.game-page-container {
  min-height: 100%;
  background: $background-blue;

  .container {
    background: $background-grey;
  }

  .board  {
    position: relative;
    margin: 25px;
  }
}
