<div class="game-page-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="board">
            <app-bot-grid [botGrid]="botGrid"></app-bot-grid>

            <div class="bottom">
              <span *ngFor="let titleNumber of titleTopNumbers"
                    class="title-top" [ngClass]="{hideZero: titleNumber === 0}">{{titleNumber}}</span>

              <ul class="grid">
                <li *ngFor="let cell of playerGrid" data-id="{{cell.id + 1}}"
                    (mouseenter) ="onMouseEnterPoint($event)"
                    (mouseleave)="onMouseExitPoint($event)"
                    (click)="onPointClick($event)"
                    [ngClass]="{highlight: cell.isHovered,
                     missed: cell.isMiss,
                     ship: cell.isShip
                     }"
                    class="points {{cell.id + 1}}">
                  <span [ngClass]="{hole: !cell.isShip}"></span>
                </li>
              </ul>

              <span class="title-left" *ngFor="let titleAlphabet of titleLeftAlphabet">{{titleAlphabet}}</span>
            </div>
          </div>
      </div>

      <div class="col">
        <div class="panel">
          <app-game-information [consoleText]="consoleText"></app-game-information>
          <app-control-panel (onPlaceShips)="onPlaceShips()" (onRotateClick)="onRotateClick()" [displayRotationControl]="displayRotationControl"></app-control-panel>
        </div>
      </div>
    </div>

  </div>
</div>
