@import "../../../theme/variables";

.bottom {
  width: 320px;
  height: 320px;
  margin-top: 25px;
  background: $background-battle-field;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.shipBorder {
  background: #fbf063;
}

.ship {
  background: #008B8B;
}

.hit.ship {
  background: #FF0000;
}
