@import "../../theme/variables";

.winner-page-container {
  background: $background-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .winner-card {
    border-radius: 10px;
    width: 200px;
    height: 200px;
  }
}
